body {
    background-color: rgb(9, 83, 25);
    font-family: Arial, sans-serif;
}

.logo-container {
    text-align: center;
}

.pharmacy-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 7px;
}

.cross {
    fill: #21a598;
    stroke: #28b19a;
    stroke-width: 4;
    transform-origin: center;
    animation: rotate 3s linear infinite, fadeIn 3s ease-in-out forwards;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.logo-text {
    font-size: 50px;
    color: #2baa9b;
    font-weight: bolder;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
}

h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(106, 205, 106);
    cursor: pointer;
}

button:hover {
    background-color: rgb(118, 192, 118);
}
p{
    font-size: 20px;
}

p a{
    text-decoration: 0;
    color: dodgerblue;
}

p a:hover{
    text-decoration: underline;
}


